#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

GRPH MENU DISCARDABLE 
BEGIN
    MENUITEM "ฝKมห(&Q)",                    IDM_END
END

